@using KeaPulss.Core.Services.Interfaces
@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Cms.Web.Common.PublishedModels;

@using Umbraco.Cms.Web.Common.Extensions

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.NewsPage>
@using ContentModels = KeaPulss.Models;
@inject INewsService newsService;

@{
    Layout = "_Layout";

   
}
<link rel="stylesheet" href="~/Assets/newsPageOne.css" type="text/css" />
<body>
    

    <div id="heroSection" style="max-height: 300px; overflow: hidden; background-color: #@Model.Backgroundcolor; text-align: left; position: relative;">
        <div id="heroTitle" style="font-size: 48px; padding: 40px 20px 0 20px;">@Model.Title</div>
        <p>@Model.Description</p>

    </div>


    <main class="article-container">
        <!-- ... your existing code ... -->

        <div class="news-content-container">
            <div id="textOne" class="rich-text">
                @Model.FirstRichText
            </div>
            @if (Model.FirstImage != null){
            <img id="img" src="@Model.FirstImage.Url()" alt="News Image" />
            }
            <div id="textTwo" class="rich-text">
                @Model.SecondRichtext
            </div>
            <a href="@Model.ReadMoreNewsLink.Url" class="read-more-link" style="background-color: #@Model.ReadMoreNewsLinkColor">
                @Model.ReadMoreNewsLink.Name
            </a>
            <div id="textone" class="rich-text">
                @Model.ContentTowRichtext
            </div>
            

            <div id="textTwo" class="rich-text" style="background-color: #@Model.ContentTowRichtextColor">
                @Model.SecondRichtext
            </div>

            <img id="imgtwo" src="@Model.ContentImage.Url()" alt="News Image" />

            <div id="textone" class="rich-text">
                @Model.ContentEventText
            </div>
            <a href="@Model.EventLinkUrl.Url" class="read-more-link" style="background-color: #@Model.EventLinkColor">
                @Model.EventLinkUrl.Name
            </a>

        </div>

        <!-- ... rest of your HTML ... -->

    </main>

</body>
</html>
